.button-svg svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

.button-svg:hover svg path {
  fill: #ffa500;
}

@media screen and (max-width: 768px) {
  .button-svg svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
