.country-population__text {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #2a2a2a;
  border-radius: 1rem;
}

.country-population__flag {
  border-radius: 1rem;
  width: 12rem;
  height: 6rem;
}

.country-population__loading {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #2a2a2a;
  border-radius: 1rem;
}

.country-population__country {
  display: flex;
  background-color: #2a2a2a;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.country-population__country-end {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.country-population__country h1 {
  font-size: 2rem;
  text-decoration: underline;
}

.country-population__country p {
  font-size: 1.5rem;
  color: #ffa500;
}

.country-population__country svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
}
